* {
    line-height: 3;
}

/* Navbar */
.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.navbar > div {
    flex: 1;
}

.navbar > div:nth-of-type(2) {
    flex: 2;
    text-align: center;
}

.left-side, .right-side {
    display: flex;
    justify-content: center;
}

.left-side > div {
    margin: 0 5;
}

.right-side > div {
    margin: 0 5;
}

.heading {
    font-size: 20px;
}