.no-break {
    white-space: nowrap;
}

/* Navbar */
.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    line-height: 3;
}

.navbar > div {
    flex: 1;
}

.navbar > div:nth-of-type(2) {
    flex: 2;
    text-align: center;
}

.left-side, .right-side {
    display: flex;
    justify-content: center;
}

.left-side > div {
    margin: 0 5;
}

.right-side > div {
    margin: 0 5;
}

.logo {
    font-size: 20px;
}

/* heading */
.heading {  
    display: flex;
    justify-content: center;
    line-height: 1.5;
}

.subheading {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    width:65%;
    text-align: center;
}