/* Navbar */
.navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.navbar > div {
    flex: 1;
}

.navbar > div:nth-of-type(2) {
    flex: 2;
    background-color: red;
    text-align: center;
}

.left-side, .right-side {
    display: flex;
    justify-content: space-around;
}